
.container{
    display: flex;
    width: fit-content;
    margin: 0 auto;
}
.gameBoard{
    width: max-content;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    background: gray;
}

.item{
    font-size: 100px;
    width: 100px;
    height: 100px;
    background-color: white;
    cursor: pointer;
}

.item:hover{
    background-color: rgb(241, 167, 167);
}